  <div class="tab show">
    <h1>Новые публикации</h1>

    <!--<ul class="inner_tab">
      <li><a href="#">2 Projects Example</a></li>

      <li><a href="#">Slide Thumbs Example</a></li>

      <li><a href="#">Single Project</a></li>
    </ul>--> 

    <div class="panes">
      <div>
				<div class="clear"></div><br />
        <div class="one-half">
          <a href="style/images/art/large.jpg" rel="prettyPhoto" title="Add a title if you like">
          	<img src="https://pp.vk.me/c631921/v631921032/1fbc0/txgK_casGmA.jpg" alt="" width="330" height="210" class="featured-left" />
        	</a>
        </div>

        <div class="one-half last">
          <h3>Проведение классного часа</h3>

          <p>Contrary to popular belief, Lorem Ipsum is not simply random text. orem ipsum dolor sit amet,
            consectetur adipiscing elit. Nam elementum consequat sem, nec tincidunt enim feugiat sed,
            vestibulum.  Vindico luptatum blandit ulciscor mos caecus
          praesent sed meus velit si quis lobortis praemitto. Ante ipsum primis in faucibus.</p>
					<button><a href="#">Скачать</a></button>
        </div>

        <div class="clear"></div>

        <div class="divider3"></div>

        <div class="one-half">
          <a href="style/images/art/large.jpg" rel="prettyPhoto" title="Add a title if you like"><img src=
          "https://pp.vk.me/c7002/v7002219/153f9/4zJuJ0F4xq0.jpg" alt="" width="330" height="210" class="featured-left" /></a>
        </div>

        <div class="one-half last">
          <h3>Урок для 2 класса по математике</h3>

          <p>Не заметил ничего про стресс-тестирования. А ведь они, с последующим анализом статистики производительности, могут занимать несколько суток. Довольный клиент, который быстро получает требуемый функционал - это, конечно, хорошо, но для этого достаточно выпуска промежуточной версии, специально для него, с соответствующим предупреждением (практикуем). А финальный релиз, всё-таки должен тестироваться не один рабочий день.</p>
					<button><a href="#">Скачать</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>